<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/header.css') }}"
/>
<header class="header" id="mainHeader">
  <div class="header-left">
    <!-- Ô search đã bị xóa -->
  </div>

  <div class="user-menu">
    <div class="notification-icon">
      <i class="bi bi-bell text-muted"></i>
      <span class="notification-badge">3</span>
    </div>

    {% if g.user %}
    <img
      src="{{ url_for('static', filename='img/avatar/' + g.employee.image) }}"
      alt="User Avatar"
      class="avatar"
      id="avatar"
    />

    <div class="user-dropdown" id="userDropdown">
      <div class="user-dropdown-header">
        <img
          src="{{ url_for('static', filename='img/avatar/' + g.employee.image) }}"
          alt="User Avatar"
        />
        <div class="user-dropdown-header-info">
          <span class="name">{{ g.user.username }}</span>
        </div>
      </div>

      <div class="user-dropdown-menu">
        {% if g.user.role_id == 2 %}
        <a href="{{ url_for('employee.profile', employee_id=g.employee.id) }}">
          <i class="bi bi-person"></i> Profile</a
        >
        {% endif %}
        <a href="{{ url_for('auth.logout') }}" class="logout">
          <i class="bi bi-box-arrow-right"></i> Log out
        </a>
      </div>
    </div>
    {% else %}
    <a href="{{ url_for('auth.login_page') }}" class="btn btn-primary btn-sm">
      <i class="bi bi-box-arrow-in-right"></i> Login
    </a>
    {% endif %}
  </div>
</header>
<script>
  // Lấy phần tử avatar và dropdown
  const avatar = document.getElementById("avatar");
  const userDropdown = document.getElementById("userDropdown");

  // Sự kiện khi click vào avatar
  avatar?.addEventListener("click", () => {
    userDropdown.classList.toggle("active"); // Thêm/xóa class 'active' để hiển thị/ẩn menu
  });

  // Đóng dropdown khi click bên ngoài
  document.addEventListener("click", (e) => {
    if (!avatar?.contains(e.target) && !userDropdown?.contains(e.target)) {
      userDropdown.classList.remove("active"); // Đảm bảo menu đóng nếu click bên ngoài
    }
  });
</script>
